<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar18">
  <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbar18"> <a class="navbar-brand d-none d-md-block" href="{% url 'central:index' %}">
      <i class="fa d-inline fa-lg fa-circle"></i>
      <b>SimpleSite`</b>
      </a>
      <ul class="navbar-nav mx-auto">
          <li class="nav-item"> <a class="nav-link text-white" href="{% url 'central:index' %}">Home</a></li>
        <li class="nav-item"> <a class="nav-link text-white" href="/admin">Dashboard</a></li>
      </ul>
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
            <li class="nav-item"><p class="nav-link">{{ request.user.username }}</p></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'myauth:logout' %}">Log out</a> </li>
        {% else %}
          <li class="nav-item"> <a class="nav-link" href="{% url 'myauth:login' %}">Log in</a> </li>
          <li class="nav-item"> <a class="nav-link text-white" href="{% url 'myauth:registration' %}">Register</a> </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
