{% extends 'base.html' %}


{% block content %}
<div class="py-3 col-md-6 offset-md-3">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="InputUsername">Username</label>
        <input type="text" class="form-control" id="InputUsername" aria-describedby="emailHelp" placeholder="Enter username" name="username">
      </div>
      <div class="form-group">
        <label for="InputPassword">Password</label>
        <input type="password" class="form-control" id="InputPassword" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
