{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h3>Спасибо за прохождение теста!</h3>
    <p class="зн-4">Ваш результат: {{ count }} правильных ответов из {{ q_count }}</p>

    <p>
        <a href="{% url 'central:topic' t_id %}">Вернуться к изучению материала</a>
    </p>
</div>

{% endblock %}
