{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Темы для изучения</h1>
        {% for topic in topics %}
            <p>
                <a href="topic/{{ topic.id }}/">{{ topic.title }}</a>
            </p>
        {% endfor %}
    </div>
{% endblock %}
