{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if message %}
            <h4 class="py-4">{{ message }}</h4>
        {% endif %}
        {% if results %}
            <p class="pt-5"><a href="/ru/topic/{{ topic_id }}/">Вернуться к теории</a></p>
            <form method="POST">
            {% csrf_token %}
            {% for obj in results %}
                <h5 class="py-3">{{ obj.q.text | safe }}</h5>
                {% for a in obj.ans %}
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="{{ obj.q.id }}" id="{{ a.id }}" value="{{ a.text }}">
                      <label class="form-check-label" for="{{ a.id }}">
                        {{ a.text }}
                      </label>
                    </div>
                {% endfor %}
            {% endfor %}
            <input type="submit" value="Send" class="btn btn-primary">
            </form>
        {% endif %}
    </div>
{% endblock %}
