{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="py-4">{{ topic.title }}</h1>
        {% if topic.link %}
            <img src="{{ topic.link }}" class="py-5" align="top" height="350px" alt="img">
        {% endif %}
        {% if topic.video %}
            {{ topic.video | safe }}
        {% endif %}
        {% if topic.gif %}
            <img src="{{ topic.gif }}" alt="">
        {% endif %}
        <p class="pt-3">{{ topic.text }}</p>
        <span class="py-3">{{ topic.date }}</span>
        <p class="py-5">
            <a href="{% url 'central:test' topic.id %}" class="btn btn-primary bk-bs-btn-sm">Перейти к тесту</a>
        </p>
    </div>
{% endblock %}
